{% extends 'base.html' %}
{% load static %}
{% block title %}Todo{% endblock %}

{% block content %}

<style>
    body {
        background-color: #f4f4f4;

    }

    /* Additional styling for the search bar and list items */
    .input-group-append button {
        border: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .list-group{
        --mdb-list-group-item-padding-x: 0.9rem;
    }

    .list-group-item {
        border: none;
    }

    .list-group-item:hover {
        background-color: rgba(0, 0, 0, 0.05);
        /* Change background color on hover */
    }

    .input-group-append button:hover {
        background-color: transparent !important;
        /* Remove background color change on hover */
    }



    /* Ensure task text starts immediately after the circle */
    .task-text {
        flex-grow: 1;
        /* Allow task text to grow to fill available space */
    }

    .card-header {
        background-color: #E88EED;
    }

    a {
        color: black;
    }
</style>

<section>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="card">

                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div>
                            <h1 class="m-0">Hello {{request.user | title}} <i class="fas fa-tasks"></i></h1>
                        </div>
                        <div>
                            <a href="{% url 'logout' %}">
                                <p class="small m-0"><i class="fas fa-sign-out-alt"></i> Logout</p>
                            </a>
                        </div>
                    </div>


                    <div class="card-body">

                        <!-- search -->
                        <form action="" method="POST">
                            <div class="input-group mb-3">
                                {% csrf_token %}
                                <input type="text" class="form-control border-0 rounded-0" placeholder="Search tasks" name="search">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-outline-secondary border-0 rounded-0"
                                        type="button"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form>


                        <!-- task -->
                        <ul class="list-group list-group-flush">
                            <!-- Tasks will be added dynamically here -->

                            {% if objs %}
                            
                            {% for obj in objs %}
                            <li class="list-group-item bg-transparent d-flex align-items-center">

                                {% if obj.complete %}
                                <div class="task-complete-icon"></div>
                                <a href="{% url 'update' obj.id %}" class="task-text text-black"><s>{{obj.task}}</s></a>

                                {% else %}

                                <div class="task-incomplete-icon"></div>
                                <a href="{% url 'update' obj.id %}" class="task-text text-black">{{obj.task}}</a>
                                {% endif %}

                                <a href="{% url 'delete' obj.id %}"><i class="fas fa-trash-alt text-danger"></i></a>

                            </li>
                            {% endfor %}

                            {% else %}
                            <li class="list-group-item bg-transparent d-flex align-items-center">
                                <p class="">No Task Create Some Task</p>
                            </li>
                            {% endif %}

                        </ul>


                    </div>

                    <div class="card-footer">
                        <a href="{% url 'add' %}" class="btn btn-dark">Add Task</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

{% endblock %}